ConsoleApplication1/ConsoleApplication1/Service References/CardValidatorwssoap/CreditCardWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validate" type="tns:validate" />
  <xs:element name="validateResponse" type="tns:validateResponse" />
  <xs:complexType name="validate">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:creditCard" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creditCard">
    <xs:sequence>
      <xs:element name="cn" type="xs:int" />
      <xs:element minOccurs="0" name="expiryDate" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>